<script>
import Layout from '@layouts/settings.vue'
import SettingCard from '@components/setting-card.vue'

export default {
  page() {
    return {
      title: 'Account Security',
      meta: [
        {
          name: 'Account Security',
          content: `Account Security settings`,
        },
      ],
    }
  },
  components: { Layout, SettingCard },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      sessions: [
        {
          "ipAddress": "127.0.0.1",
          "ttl": 1209600,
          "created": "2020-10-09T22:52:18.676Z",
          "userId": "5f7f9e21c9d93e001d9faf8f",
          "online": true,
          "id": this.user.id
        },
        {
          "ipAddress": "0.0.0.0",
          "ttl": 1209600,
          "created": "2020-10-09T22:36:22.911Z",
          "userId": "5f7f9e21c9d93e001d9faf8f",
          "online": false,
          id: "5f7f9e21c9d93e001d9fafds"
        }
      ],
      states: {
        authentication: 'normal',
        sessions: 'normal'
      }
    }
  }
}
</script>

<template>
  <Layout>
    <SettingCard :state="states.authentication">
      <template v-slot:title>
        Authentication
      </template>
      <template v-slot:actions>
        <v-btn icon @click="states.authentication = 'editing'">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </template>
        <template v-slot:normal>
          <v-row>
            <v-col class="px-5">
              <router-link to="/auth/change-password">Change your password</router-link>
            </v-col>
          </v-row>
      </template>
    </SettingCard>
    <SettingCard :state="states.sessions">
      <template v-slot:title>
        Active Sessions
      </template>
      <template v-slot:actions>
        <v-btn icon>
          <v-icon>mdi-delete-sweep</v-icon>
        </v-btn>
      </template>
      <template v-slot:normal>
        <v-list two-line>
            <!-- <v-subheader
              :key="session.created"
              inset
            >
              Login From: {{
                session.ipAddress
              }}
            </v-subheader> -->

            <v-list-item v-for="session in sessions" :key="session.ipAddress">
              <!-- <v-list-item-avatar>
                <img :src="session.avatar">
              </v-list-item-avatar> -->
              <v-list-item-content>
                <v-list-item-title><v-avatar :color="(session.online ? 'primary' : 'grey')" size="10"></v-avatar> {{session.ipAddress}} - ( Addis Ababa, Ethiopia)
                  <span v-if="session.id === user.id" class="grey--text">
                    - current
                  </span>
                </v-list-item-title>
                <v-list-item-subtitle>{{session.created}} - <v-icon small>mdi-web</v-icon> Mozilla Firefox</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon>
                  <v-icon color="grey lighten-1">mdi-delete-forever</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>


        </v-list>
      </template>
    </SettingCard>
  </Layout>
</template>