<script>
import Layout from '@layouts/settings.vue'
import SettingCard from '@components/setting-card.vue'

export default {
  page() {
    return {
      title: 'Contact Info',
      meta: [
        {
          name: 'Contact Info',
          content: `Contact Info settings`,
        },
      ],
    }
  },
  components: { Layout, SettingCard },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      states: {
        account: 'normal',
        contact: 'normal'
      }
    }
  }
}
</script>

<template>
  <Layout>
    <SettingCard :state="states.account">
      <template v-slot:title>
        Account
      </template>
      <template v-slot:actions>
        <v-btn icon>
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </template>
            <template v-slot:normal>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="body-2">
                <span class="font-weight-bold">
                  Name:
                </span>
                {{ user.user.firstName }} {{ user.user.lastName }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="body-2">
                <span class="font-weight-bold">
                  Email:
                </span>
                {{ user.user.email }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="body-2">
                <span class="font-weight-bold">
                  Username:
                </span>
                {{ user.user.username }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="body-2">
                <span class="font-weight-bold">
                  Date of Birth:
                </span>
                {{ user.user.dob }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </SettingCard>
    <SettingCard :state="states.contact">
      <template v-slot:title>
        Contact
      </template>
      <template v-slot:actions>
        <v-btn icon>
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </template>
      <template v-slot:normal>
        <v-list>
          <v-list-item>
            <v-list-item-action>
              <v-icon>mdi-phone</v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>{{ user.user.phoneNumber }}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>mdi-message-text</v-icon>
            </v-list-item-action>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item>
            <v-list-item-action>
              <v-icon>mdi-email</v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>{{ user.user.email }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-divider inset></v-divider>

          <v-list-item>
            <v-list-item-action>
              <v-icon>mdi-map-marker</v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>{{ user.user.address }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </SettingCard>
  </Layout>
</template>