<script>
import Layout from '@layouts/settings.vue'
import SettingCard from '@components/setting-card.vue'
import { paymentsMethods, paymentsComputed, authComputed } from '@state/helpers'

export default {
  page() {
    return {
      title: 'payments',
      meta: [
        {
          name: 'payments',
          content: `Payments settings`,
        },
      ],
    }
  },
  components: { Layout, SettingCard },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      search: '',
      headers: [
        {
          text: '',
          value: 'status'
        },
        {
          text: 'Reason',
          align: 'start',
          value: 'reason',
        },
        { text: 'Time', value: 'dateTime' },
        { text: 'Amount', value: 'amount' },
        { text: 'From', value: 'from' },
        { text: 'To', value: 'to' },
      ],
      states: {
        balance: 'normal',
        transactions: 'normal'
      },
      paying: false,
      fetchingBalance: false,
      fetchingTransactions: false,
      topupAmount: 10.00,
      balanceFetchingInterval: null,
      cancelTransactionDialog: false,
      cancelling: false
    }
  },
  methods: {
    ...paymentsMethods,
    async refreshBalance() {
      this.fetchingBalance = true
      await this.fetchBalance()
      this.fetchingBalance = false
    },
    async refreshTransactions() {
      this.fetchingTransactions = true
      await this.fetchTransactions()
      this.fetchingTransactions = false
    },
    openPaymentWindow({url, title, w, h}) {
      // Fixes dual-screen position                             Most browsers      Firefox
      const dualScreenLeft = window.screenLeft !==  undefined ? window.screenLeft : window.screenX;
      const dualScreenTop = window.screenTop !==  undefined   ? window.screenTop  : window.screenY;

      const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
      const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

      const systemZoom = width / window.screen.availWidth;
      const left = (width - w) / 2 / systemZoom + dualScreenLeft
      const top = (height - h) / 2 / systemZoom + dualScreenTop
      const newWindow = window.open(url, title,
        `
        scrollbars=yes,
        width=${w / systemZoom},
        height=${h / systemZoom},
        top=${top},
        left=${left}
        `
      )
      if (window.focus) newWindow.focus();
    },
    async openYenePay() {
      try {
        const transaction = await this.topUp({
          amount: Number(this.topupAmount)
        })
        this.openPaymentWindow({
          url: transaction.url,
          title: 'Payment',
          w: 900,
          h: 500
        });
        this.states.balance = 'normal'
        this.paying = false
      } catch (error) {
        this.states.balance = 'normal'
        this.paying = false
        if (error.response) {
          // Request made and server responded
          console.log(error.response.data);
          alert(JSON.stringify(error.response.data.error.message))
          console.log(error.response.status);
          console.log(error.response.headers);
        } else if (error.request) {
          // The request was made but no response was received
          console.log(error.request);
        } else {
          // Something happened in setting up the request that triggered an Error
          console.log('Error', error.message);
        }
      }
    },
    continueTransaction() {
      this.openPaymentWindow({
        url: this.wallet.transactionUrl,
        title: 'Payment',
        w: 900,
        h: 500
      });
      this.paying = false
    },
    async cancelTransaction() {
      this.cancelling = true
      await this.cancelTopupTransaction();
      this.cancelTransactionDialog = false
      this.cancelling = false
    }
  },
  watch: {
    paying (val) {
      if (!val) return
      this.openYenePay()
    }
  },
  computed: {
    ...paymentsComputed,
    ...authComputed
  },
  created() {
    this.wallet.activeBalance = null
    this.fetchBalance()
    this.balanceFetchingInterval = setInterval(this.fetchBalance, 6000)
  },
  destroyed() {
    if (this.balanceFetchingInterval)
      clearInterval(this.balanceFetchingInterval)
  }

}
</script>

<template>
  <Layout>
    <SettingCard :state="states.balance">
      <template v-slot:title>
        Balance
      </template>
      <template v-slot:actions>
         <v-btn icon :loading="fetchingBalance" @click="refreshBalance">
          <v-icon
            dark
          >
            mdi-reload
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:normal>
        <v-row class="px-5 py-3">
          <v-col class="px-5" v-if="wallet.activeBalance === null">
            Loading Balance...
          </v-col>
          <v-col class="px-5" v-else>
            Your balance is <span class="font-weight-bold">{{wallet.activeBalance}} Birr</span>
          </v-col>
          <v-spacer></v-spacer>
          <span v-if="wallet.activeTopupTransaction">
            <v-btn  class="ml-2 primary" :disabled="user.user.authAs !== 'client'" @click="continueTransaction">
              Continue Transaction
            </v-btn>

            <v-dialog
              v-model="cancelTransactionDialog"
              max-width="440"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text class="ml-1 mr-2 error" :disabled="user.user.authAs !== 'client'"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>
                    mdi-cancel
                  </v-icon>
                  Cancel
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">
                  Cancel Transaction?
                </v-card-title>
                <v-card-text>
                  Only unprocessed (un-paid) top-up transactions initiated by you can be cancelled.<br/>This action is irreversible.
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="cancelTransactionDialog = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="cancelTransaction"
                    :loading="cancelling"
                  >
                    Continue
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

          </span>
          <v-btn v-else class="mx-2 primary" :disabled="user.user.authAs !== 'client'" @click="states.balance = 'topup'">
            Top up
          </v-btn>
          <v-btn class="mx-2">Get Paid</v-btn>
        </v-row>
      </template>
      <template v-slot:topup>
        <v-row class="px-5 py-3">
          <v-col class="px-5">
            Enter the amount:
          </v-col>
        </v-row>
        <v-row class="px-5 py-0">
          <v-col class="px-5 py-0" cols="2">
            <v-text-field
              v-model="topupAmount"
              label="Amount"
              suffix="Birr"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="px-5 py-2">
          <v-col class="px-1">

            <v-btn :loading="paying"  @click="paying = true" class="mx-2 primary">
              <v-icon
                right
                dark
                class="pr-5 mr-1"
              >
                mdi-credit-card-outline
              </v-icon> Pay with YenePay
            </v-btn>

            <v-dialog
              v-model="paying"
              hide-overlay
              persistent
              width="300"
            >
              <v-card
                color="primary"
                dark
              >
                <v-card-text>
                  Hold on for a moment...
                  <v-progress-linear
                    indeterminate
                    persistent
                    color="white"
                    class="mb-0"
                  ></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
            <v-btn class="mx-2" text @click="states.balance = 'normal'">Cancel</v-btn>
          </v-col>
        </v-row>
      </template>
    </SettingCard>
    <SettingCard :state="states.transactions">
      <template v-slot:title>
        Transactions
      </template>
      <template v-slot:actions>
         <v-btn icon :loading="fetchingTransactions" @click="refreshTransactions">
          <v-icon
            dark
          >
            mdi-reload
          </v-icon>
        </v-btn>
      </template>
      <template v-slot:normal>
        <v-row class="pl-5 py-3">
          <v-col class="px-5">
            <span class="font-weight-bold">
              Last Transaction:
            </span>
            <v-spacer></v-spacer>
            <span class="font-weight-bold primary--text">{{transactions[transactions.length - 1].amount}} Birr</span> - {{transactions[transactions.length - 1].reason}}
          </v-col>
          <v-col class="px-5 mx-5 pt-1">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card-title class="subtitle-1">
              Recent Transactions:
            </v-card-title>
            <v-data-table class="px-3"
              v-if="transactions"
              :headers="headers"
              :items="transactions"
              :search="search"
              sort-by="dateTime"
              sort-desc
            >
              <template v-slot:[`item.reason`]="{ item }">
                <span v-if="item.jobId">
                  {{item.reason}} -
                  <routerLink :to="`/job/${item.jobId}`"
                  >
                  Job
                    <v-icon v-if="item.jobId" small class="primary--text">
                      mdi-open-in-new
                    </v-icon>

                  </routerLink>
                </span>
                <span v-else>
                  {{item.reason}}
                </span>
              </template>
              <template v-slot:[`item.amount`]="{ item }">
                <span v-if="currentUser.user.id === item.to" :class="{ 'primary--text': item.status !== 'CANCELLED', 'grey--text': item.status === 'CANCELLED' }">
                  <v-icon small>mdi-arrow-down</v-icon>{{item.amount}}
                </span>
                <span v-else :class="{ 'error--text': item.status !== 'CANCELLED', 'grey--text': item.status === 'CANCELLED' }">
                  <v-icon small>mdi-arrow-up</v-icon>{{item.amount}}
                </span>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <span v-if="item.status === 'COMPLETE'" class="primary--text px-0 mx-0">
                  <v-icon small error class="primary--text">mdi-check-outline</v-icon>
                </span>
                <span v-else-if="item.status === 'PENDING'" class="error--text px-0 mx-0">
                  <v-icon small error>mdi-timer-sand</v-icon>
                </span>
                <span v-else-if="item.status === 'CANCELLED'" class="px-0 mx-0">
                  <v-icon small class="error--text">mdi-cancel</v-icon>
                </span>
              </template>
            </v-data-table>
            <v-row v-else>
              <v-col class="px-5 mx-5 grey--text body-1">
                No Transaction Record Found
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </template>
    </SettingCard>
  </Layout>
</template>
