<script>
import NavBar from '@components/nav-bar.vue'
import CategoriesRow from '@components/categories-row.vue'

export default {
  components: { NavBar, CategoriesRow },
  props: {
    unCentered: {
      type: Boolean,
      default: false,
    },
    hideCategories: {
      type: Boolean,
      default: false,
    }
  },
}
</script>

<template>
  <div>
    <NavBar :class="{ 'elevation-2': hideCategories }"/>
    <CategoriesRow v-if="!hideCategories"/>
    <div :class="{ container: !unCentered, 'mt-2': hideCategories }">
      <slot />
    </div>
  </div>
</template>

<style lang="scss" module>
@import '@design';

.container {
  min-width: $size-content-width-min;
  max-width: $size-content-width-max;
  margin: 0 auto;
}
</style>
