<script>
import Layout from '@layouts/main.vue'

export default {
  page() {
    return {
      title: 'Settings',
      meta: [
        {
          name: 'description',
          content: `Settings`,
        },
      ],
    }
  },
  components: { Layout },
  props: {
    path: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      tab: 'null',
      settings: [
        {
          title: 'Contact Info',
          icon: 'mdi-account-box',
          path: '/settings/contacts-info'
        },
        {
          title: 'Get Paid',
          icon: 'mdi-cash',
          path: '/settings/payments'
        },
        {
          title: 'Security',
          icon: 'mdi-lock',
          path: '/settings/account-security'
        }
      ]
    }
  },
  computed: {
    settingTitle() {
      return (this.settings.find(({path}) => path === this.tab) || {title:''}).title
    }
  },
}
</script>

<template>
  <Layout :hideCategories="true">
    <v-card flat>
      <v-tabs v-model="tab" vertical>
        <v-container class="px-0">
          <v-row
            no-gutters
            style="flex-wrap: nowrap;"
          >
            <v-col
              cols="2"
            >
              <v-toolbar flat class="transparent">
              </v-toolbar>
              <v-tab v-for="setting in settings" :key="setting" :to="setting.path">
                <v-icon left class="mr-3">
                  {{ setting.icon || 'mdi-settings' }}
                </v-icon>
                {{ setting.title }}
                <v-spacer/>
              </v-tab>
            </v-col>
            <v-col
              cols="10"
              style="min-width: 100px;"
            >
              <v-toolbar flat class="transparent">
                <v-toolbar-title class="headline pa-2">{{settingTitle}}</v-toolbar-title>
              </v-toolbar>
              <slot></slot>
            </v-col>
          </v-row>
        </v-container>
      </v-tabs>
    </v-card>
  </Layout>
</template>
