<script>
import Layout from '@layouts/main.vue'
import JobList from '@views/Freelancer/joblist.vue'
// import axios from 'axios'skillsMethods
import { jobsMethods, jobsComputed, authComputed, skillsMethods } from '@state/helpers'

export default {
  page: {
    title: 'Job Feeds',
    meta: [{ name: 'description', content: 'The Job page.' }],
  },
  components: { Layout, JobList },
  data() {
    return {
      search: '',
      currentTab: 'feed',
      loading: false,
      filter: null
    }
  },
  created() {
    this.loading = true;
    this.fetchJobs().finally(() => {this.loading = false})
  },
  methods: {
    ...jobsMethods,
    ...skillsMethods,
    reload() {
      this.loading = true;
      setTimeout(() => this.fetchJobs().finally(() => {this.loading = false}), Math.random() * 2000)
    }
  },
  computed: {
    ...jobsComputed,
    ...authComputed,
  },
  asyncComputed: {
    skills: function () {
    return this.fetchSkillsByListOfIDs(this.currentUser.user.freelancerprofile.skillsIDs);
  }},
  watch: {
    filter() {
      this.loading = true;
      setTimeout(() => { this.loading = false }, 2000);
    }
  }
}
</script>
<template>
  <Layout>
    <div class="text-md-center">

    </div>
    <v-card flat>
      <v-tabs vertical v-model="currentTab">
        <v-container>

          <v-row
            no-gutters
          >
            <v-col
              cols="2"
              class="mr-5"
            >
                        <div style="min-height:120px;padding-top:22px;letter-spacing:5px;" class="text-md-center headline black--text">
                          Find Work
                        </div>

              <v-tab key="feed" @click="filter = null">
                My Feed
              </v-tab>
              <div class="black--text text-md-left subtitle-1 font-weight-medium pb-1 pt-5 mt-5 ma-2">
                Recent Searches

              </div>
              <v-tab v-for="skill in skills.slice(0,4)" :key="skill.id" class="text-md-left text-capitalize primary--text pl-0 text-start">
                {{skill.label}}
              </v-tab>

              <div class="black--text text-md-left subtitle-1 font-weight-medium pb-1 pt-5 mt-5 ma-2">
                My Categories

              </div>
              <v-tab v-for="skill in skills" :key="skill.id"  class="text-md-left text-capitalize primary--text pl-0" @click="filter = skill.id">
                {{skill.label}}
              </v-tab>

            </v-col>
            <v-col cols="8" class="ml-4">
              <div class="col-12 mx-auto">
      <v-text-field
          v-model="search"
          label="Search for jobs"
          solo
        >
          <template v-slot:append-outer>
            <v-btn
              v-bind="attrs"
              v-on="on"
              style="top: -10px;min-height:46px;"
              class="primary py-5"
            >
            <v-icon center>
              mdi-magnify
            </v-icon>
          </v-btn>
        </template>
      </v-text-field>
    </div>

             <v-card max-width="900" class="elevation-4">

               <v-toolbar flat color="#F9F9F9" height="90">
                  <v-toolbar-title class="pl-2">My Feed</v-toolbar-title>
                  <v-progress-linear
        :active="loading"
        :indeterminate="loading"
        absolute
        bottom
        color="primary accent-4"
      ></v-progress-linear>
                  <v-spacer></v-spacer>
                  <v-btn icon class="mr-2" @click="reload" :loading="loading">
          <v-icon
            dark
          >
            mdi-reload
          </v-icon>
        </v-btn>
                </v-toolbar>

                <template v-for="(item, index) in feed.filter(i => (!filter || i.skillsRequired.map(({ id }) => id).includes(filter)))">
                  <JobList :key="index" :item="item"/>
                </template>
             </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-tabs>
    </v-card>
  </Layout>
</template>
