<script>
import { jobsMethods, jobsComputed } from '@state/helpers'

export default {
  page: {
    title: 'Joblist',
    meta: [{ name: 'description', content: 'The Joblist page.' }],
  },
  components: {},
  props: {
    item: {},
    skillFilter: null
  },
  data() {
    return {
      isPremium: Math.random() > 0.8,
      dialog: false,
      hoverfreelancer: false,
      hoverbudget: false,
      hoverduration: false,
      elevation: 0,
      valid: false,
      firstname: '',
      lastname: '',
      nameRules: [
        (v) => !!v || 'Input required',
        (v) => v.length <= 10 || 'Provide only Numbers',
      ],
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      reportMenu: null,
      flagReason: null,
      flagReasons: [
        'Sexual content',
        'Violent or repulsive content',
        'Hateful or abusive content',
        'Harmful or dangerous acts',
        'Child abuse',
        'Promotes terrorism',
        'Spam or misleading',
        'Infringes my rights',
        'Captions issue'
      ],
      durations: [
        {
          label: 'Day/s',
          value: 'days',
        },
        { label: 'Week/s', value: 'weeks' },
        { label: 'Month/s', value: 'months' },
      ],
      price: this.item.price,
      body: '',
      duration: {
        amount: 1,
        unit: 'days'
      }
    }
  },
  computed: {
    ...jobsComputed
  },
  asyncComputed: {
    haveIAppliedForTheJob: function () {
      return this.haveIApplied(this.item.id);
    }
  },
  methods: {
    ...jobsMethods,
    close() {},
    apply() {
      this.applyProposal({
         jobId: this.item.id,
      price: this.price,
      body: this.body,
      duration: this.duration
      })
    }
  },
}
</script>
<template>
  <div>
    <v-hover v-slot="{ hover }"
        open-delay="250">
    <v-card class="rounded-sm mx-auto pa-2"
    max-width="900" :elevation="hover ? 16 : 2"
          :class="{ 'on-hover': hover }"
          @click="dialog = true"
          >
      <div class="ribbon ribbon-top-right" v-if="isPremium">
        <span>Premium</span>
      </div>
      <v-card-title class="pt-5">
        {{ item.title }}
      </v-card-title>
      <v-card-subtitle>
        <v-badge
          :value="hoverfreelancer"
          color="black"
          class="small"
          content="Freelancers Needed"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverfreelancer">
            <v-list-item-action-text class="ma-2" small label>
              <v-icon small>mdi-account-group</v-icon>
              {{ item.noOfFreelancersNeeded }}
            </v-list-item-action-text>
          </v-hover>
        </v-badge>
        <!-- budget -->
        <v-badge
          :value="hoverbudget"
          color="black"
          content="Budget"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverbudget">
            <v-list-item-action-text class="ma-2" small label>
              <v-icon small>mdi-cash-multiple</v-icon> {{ item.price }}
            </v-list-item-action-text>
          </v-hover>
        </v-badge>
        <!-- duration -->
        <v-badge
          :value="hoverduration"
          color="black"
          content="Duration"
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverduration">
            <v-list-item-action-text class="ma-2" small label>
              <v-icon small>mdi-timetable</v-icon> {{ item.jobDuration.amount }}
              {{ item.jobDuration.unit }}
            </v-list-item-action-text>
          </v-hover>
        </v-badge>
        <v-chip
      class="ma-2"
      color="primary"
      text-color="teal"
      v-if="haveIAppliedForTheJob"
      small
      outlined
      label
    >
      <v-avatar left>
        <v-icon small>mdi-checkbox-marked-circle</v-icon>
      </v-avatar>
      Applied
    </v-chip>

      </v-card-subtitle>

      <v-card-text>
        <div class="font-weight-regular" :inner-html.prop="item.description | striphtml">
        </div>
      </v-card-text>
      <v-card-actions>
        <v-chip
          v-for="skill in item.skillsRequired"
          :key="skill.id"
          class="my-2 mx-1"
          small
          outlined
        >
          {{ skill.label }}
        </v-chip>
      </v-card-actions>

      <v-row class="overline mb-4">
        <v-chip
          v-if="item.isApproved === 'true'"
          small
          class="ma-2"
          text-color="Black"
        >
          Verified
        </v-chip>
         <v-spacer></v-spacer>
         <div class="text-center">
    <v-menu
      v-model="reportMenu"
      :close-on-content-click="false"
      :nudge-width="200"
      offset-x
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn class="red ml-8 white--text"
        v-bind="attrs"
          v-on="on"
          >
          <v-icon>mdi-flag</v-icon>
        </v-btn>


      </template>

      <v-card>
        <v-list>
          <v-list-item>

            <v-list-item-content>
              <v-list-item-title>Report Job</v-list-item-title>
              <v-list-item-subtitle>Flag this item for a mis-conduct</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn
                icon
                @click="reportMenu = false"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

<v-radio-group v-model="flagReason" class="pa-5">
      <v-radio
        v-for="n in flagReasons"
        :key="n"
        :label="n"
        :value="n"
      ></v-radio>
    </v-radio-group>

<v-alert
      border="bottom"
      colored-border
      type="error"
      elevation="2"
      class="mx-2"
      width="452px"
    >
Flagging with ill intention of harming others may result in a permanent ban. Please make sure it is strictly against Masterlance's policy

    </v-alert>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            text
            @click="reportMenu = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="error"
            text
            @click="reportMenu = false"
          >
            Report
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>

      </v-row>


    </v-card>
    </v-hover>


    <v-dialog
      v-model="dialog"

      transition="dialog-bottom-transition"
      overlay-color="primary"
      width="1600"
      scrollable
    >
      <v-card   style="min-height: 760px;">
        <v-toolbar flat color="#EEEEEE" max-height="70">
          <v-btn icon @click="dialog = false">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title><b>JOB:</b> {{item.title}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn text @click="dialog = false"> </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <div style="flex: 1 1 auto;" class="pa-5">
          <v-row>
            <v-col cols="8">
            <v-card class="elevation-0"     >
              <v-card-title class="pt-5 ml-2 mb-1">
                {{ item.title }}
              </v-card-title>
                    <v-card-subtitle>
        <v-badge
          :value="hoverfreelancer"
          color="black"
          class="small"
          content="Freelancers Needed"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverfreelancer">
            <v-list-item-action-text class="ma-2" small label>
              <v-icon small>mdi-account-group</v-icon>
              {{ item.noOfFreelancersNeeded }}
            </v-list-item-action-text>
          </v-hover>
        </v-badge>
        <!-- budget -->
        <v-badge
          :value="hoverbudget"
          color="black"
          content="Budget"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverbudget">
            <v-list-item-action-text class="ma-2" small label>
              <v-icon small>mdi-cash-multiple</v-icon> {{ item.price }}
            </v-list-item-action-text>
          </v-hover>
        </v-badge>
        <!-- duration -->
        <v-badge
          :value="hoverduration"
          color="black"
          content="Duration"
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverduration">
            <v-list-item-action-text class="ma-2" small label>
              <v-icon small>mdi-timetable</v-icon> {{ item.jobDuration.amount }}
              {{ item.jobDuration.unit }}
            </v-list-item-action-text>
          </v-hover>
        </v-badge>
<br/>
   <v-chip
          v-for="skill in item.skillsRequired"
          :key="skill.id"
          class="mt-4 mx-1"
          small
          outlined
        >
          {{ skill.label }}
        </v-chip>


      </v-card-subtitle>

      <v-divider class="mb-5"></v-divider>
              <v-card-text>
                <div class="font-weight-regular" v-html="item.description">
                </div>
              </v-card-text>

            </v-card>

                      </v-col>
            <v-col cols="4">
            <v-card class="elevation-6 mr-4 mt-3">
              <v-card-title class="pt-5">
                Apply to this Job
              </v-card-title>
              <v-card-subtitle>
                Fill in the following form to apply for this job
              </v-card-subtitle>

      <v-divider></v-divider>
              <v-card-text>

            <v-form v-model="valid" class="pa-2 px-3" v-if="!haveIAppliedForTheJob">
              <v-row>
                <v-col cols="5">
                  <v-text-field
                    v-model="price"
                    :rules="nameRules"
                    label="Estimated Price"
                    suffix="Birr"
                    required
                  ></v-text-field>
                </v-col>
                <v-spacer></v-spacer>
                              <v-col cols="6" style="max-width: 190px;" class="my-0 py-0">
                <v-text-field
                  v-model="duration.amount"
                  label="Duration"
                  type="number"
                  placeholder="e.g. 1 (week)"
                  filled
                  class="pa-0 ma-0 pt-1"
                >
                  <template v-slot:append>
                    <v-select
                      v-model="duration.unit"
                      :items="durations"
                      item-text="label"
                      item-value="value"
                      class="pa-0 ma-0 mb-1"
                      style="max-height: 41px !important;"
                      flat
                    ></v-select>
                  </template>
                </v-text-field>
              </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-textarea name="comment" label="Additional Note / Comment:" v-model="body" outlined></v-textarea>
                </v-col>
              </v-row>
  <v-row>
              <v-btn class="mt-5 py-5 primary mx-auto" block @click="apply" :loading="applyingProposal">
                Apply Proposal
              </v-btn>
  </v-row>
</v-form>
<div v-else>
  <v-alert type="success">
      You've already applied a proposal to this job.
    </v-alert>

  </div>
</v-card-text>
            </v-card>
            </v-col>
          </v-row>

        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss">
.ribbon {
  position: absolute;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  border: 5px solid #F9A825;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 7px 0;
  font: 500 16px/1 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  background-color: #F9A825;
  box-shadow: 0 2px 1px rgba(0,0,0,.1);
}

/* top right */
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 22px;
}
.ribbon-top-right::after {
  right: 0;
  bottom: 22px;
}
.ribbon-top-right span {
  top: 29px;
  left: -27px;
  transform: rotate(45deg);
}
</style>
