<script>
import Layout from '@layouts/main.vue'
import { paymentsMethods, paymentsComputed } from '@state/helpers'

export default {
  page() {
    return {
      title: 'Payment success',
      meta: [
        {
          name: 'payments',
          content: `Payments success`,
        },
      ],
    }
  },
  components: { Layout },
  props: {
    transaction: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      verified: false,
      data: {},
      error: null
    }
  },
  methods: {
    ...paymentsMethods,
  },
  computed: {
    ...paymentsComputed,
  },
  mounted() {
    this.verifyTransaction({
      params: this.transaction
    }).then(data => {
      this.loading = false
      this.data = data
      this.verified = true
      this.error = null
    }).catch((err) => {
      this.loading = false
      this.verified = false
      this.error = err
    })
  }
}
</script>

<template>
  <Layout :hideCategories="true">
    <v-card
      class="mx-auto mt-5 my-auto pb-5"
      width="500"
      height="360"
      align="center"
      :loading="loading"
    >
      <v-card-title class="justify-center" v-if="loading">
        Verifying transaction...
      </v-card-title>
      <template v-else-if="!loading && verified">
        <v-card-title class="justify-center">
          Payment successfully completed
        </v-card-title>

        <v-row class="px-5 py-3">
          <v-col>
            Transaction verified
          </v-col>
        </v-row>
        <v-alert
          dense
          text
          type="success"
          class="mx-5"
        >
          Your balance is {{ wallet.activeBalance }} Birr now (+{{transaction.TotalAmount}})
        </v-alert>
      </template>     
      
      <template v-else-if="!loading && !verified">
        <v-card-title class="justify-center">
          Payment verification failed
        </v-card-title>

        <v-row class="px-5 py-3">
          <v-col>
            Transaction not verified
          </v-col>
        </v-row>
        <v-row class="px-5 py-3">
          <v-col>
            Please goto the payments page and retry.
          </v-col>
        </v-row>
        <v-alert
          dense
          outlined
          type="error"
          class="mx-5"
        >
          {{ error }}
        </v-alert>
        <v-row>
          <v-col>
            If error persists, cancel this transaction and restart the process
          </v-col>
        </v-row>
      </template>     
    </v-card>
  </Layout>
</template>