<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="<%= webpackConfig.output.publicPath %>favicon.ico"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <title><%= webpackConfig.name %></title>
  </head>
  <body>
    <!-- This is where our app will be mounted. -->
    <div id="app"></div>

    <!-- Built files will be auto injected here. -->
  </body>
</html>
