<script>
import Layout from '@layouts/main.vue'
import { authMethods } from '@state/helpers'

export default {
    page: {
        title: 'Set up your profile',
        meta: [{ name: 'description', content: `Set up your client profile` }],
    },
    components: { Layout },
    data: () => ({
      loading: false,
      error: null,
      success: false
    }),
    methods: {
      ...authMethods,
      setupProfile() {
        this.loading = true
        this.error = null
        this.success = false
        return this.createClientProfile()
          .then(() => {
            this.loading = false
            this.success = true

            setTimeout(() => this.$router.push(this.$route.query.redirectFrom || { name: 'home' }), 1500)

          })
          .catch((error) => {
            this.loading = false
            this.error = error
          })
      },
    },
}
</script>

<template>
  <Layout :hideCategories="true">
    <v-card
        :class="$style.card"
        class="mx-auto pt-5 pb-0 mb-5"
        width="700"
        align="center"
    >
      <v-card-text>
          <p class="headline text--primary">
              Set-up your Client Profile
          </p>
      </v-card-text>
      <v-container :class="$style.cardcontainer">
        <v-alert
          v-if="success"
          type="success"
        >
          You've successfully set up your profile! You'll be redirected shortly
        </v-alert>
        <v-form
          ref="form"
          lazy-validation
        >              
          <v-row class="grey--text">
            <v-col>
              You must create a client profile before you continue.<br/>By creating a client profile you agree to our terms-of-use.
            </v-col>
          </v-row>
            
          <v-card-actions class="pr-5 pl-5 pt-2 pb-5">
            <v-btn
              block="true"
              color="primary"
              large="true"
              :loading="loading"
              @click="setupProfile"
            >
              Finish Setting up your profile
            </v-btn>
          </v-card-actions>
          <p v-if="error">
            There was an error setting up your profile.
          </p>
        </v-form>
      </v-container>
    </v-card>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';

.card {
  top: 20px;
}
.register {
  cursor: pointer;
}
.cardcontainer {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
</style>
