<script>
import Layout from '@layouts/main.vue'
import { authMethods, skillsComputed } from '@state/helpers'

export default {
    page: {
        title: 'Set up your profile',
        meta: [{ name: 'description', content: `Set up your freelancer profile` }],
    },
    components: { Layout },
    data: () => ({
      loading: false,
      search: '',
      selected: [],
    }),

    computed: {
        ...skillsComputed,
        allSelected () {
            return this.selected.length === this.availableSkills.length
        },
        categories () {
            const search = this.search.toLowerCase()

            if (!search) return this.availableSkills

            return this.availableSkills.filter(item => {
                const text = item.text.toLowerCase()

                return text.indexOf(search) > -1
            })
        },
        selections () {
            const selections = []

            for (const selection of this.selected) {
                selections.push(selection)
            }

            return selections
        }
    },
    methods: {
        ...authMethods,
        setupProfile() {
          this.loading = true
          this.error = null
          this.success = false
          return this.createFreelancerProfile({
              skillsIDs: this.selections.map(({ id }) => id)
            })
            .then(() => {
              this.loading = false
              this.success = true

              setTimeout(() => this.$router.push(this.$route.query.redirectFrom || { name: 'home' }), 1500)

            })
            .catch((error) => {
              this.loading = false
              this.error = error
            })
        },
    },
}
</script>

<template>
    <Layout :hideCategories="true">
        <v-card
            :class="$style.card"
            class="mx-auto pt-5 pb-0 mb-5"
            width="700"
            align="center"
        >
            <v-card-text>
                <p class="headline text--primary">
                    Set-up your Freelancer Profile
                </p>
            </v-card-text>
            <v-container :class="$style.cardcontainer">
                <v-alert
                    v-if="success"
                    type="success"
                >
                   You've successfully set up your profile! You'll be redirected shortly
                </v-alert>
                <v-form
                  ref="form"
                  lazy-validation
                >
                  <v-row
                    align="center"
                    justify="start"
                  >
                    <v-col
                      v-if="!allSelected"
                      cols="12"
                    >
                      <v-text-field
                        ref="search"
                        v-model="search"
                        full-width
                        hide-details
                        label="Search"
                        single-line
                        class="mt-0"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="text-left mt-4">
                    <v-col>
                      Selected skills:
                    </v-col>
                  </v-row>
                    <v-row v-if="selections.length">
                      <v-col
                        v-for="(selection, i) in selections"
                        :key="selection.label"
                        class="shrink"
                      >
                            <v-chip
                              :disabled="loading"
                              close
                              class="mx-0"
                              @click:close="selected.splice(i, 1)"
                            >
                                {{ selection.label }}
                            </v-chip>
                        </v-col>      
                    </v-row>
                    <v-row v-else>
                        <v-col class="grey--text text-left">
                            please pick at least 5 skills from below
                        </v-col>      
                    </v-row>

                    <v-divider v-if="!allSelected" class="my-4"></v-divider>

                    <v-container>
                        <template v-for="item in categories">
                            <v-chip
                                v-if="!selected.includes(item)"
                                :key="item.id"
                                :disabled="loading"
                                class="ma-1"
                                @click="selected.push(item)"
                            >
                                {{ item.label }}
                            </v-chip>    
                        </template>
                    </v-container>
                    
                    <v-card-actions class="pr-5 pl-5 pt-2 pb-5">
                        <v-btn
                            block="true"
                            color="primary"
                            large="true"
                            :disabled="selections.length < 5"
                            :loading="loading"
                            @click="setupProfile"
                        >
                            Finish Setting up your profile
                        </v-btn>
                    </v-card-actions>
                    <p v-if="error">
                      There was an error setting up your profile.
                    </p>
                </v-form>
            </v-container>
        </v-card>
    </Layout>
</template>

<style lang="scss" module>
@import '@design';

.card {
  top: 20px;
}
.register {
  cursor: pointer;
}
.cardcontainer {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
</style>
