<script>
import Layout from '@layouts/main.vue'
import { authMethods } from '@state/helpers'
import appConfig from '@src/app.config'
import citiesList from './cities-list'

export default {
    page: {
        title: 'Sign up',
        meta: [{ name: 'description', content: `Sign up to ${appConfig.title}` }],
    },
    components: { Layout },
    data: () => ({
        formData: {
            firstName: '',
            lastName: '',
            email: '',
            address: '',
            phoneNumber: '',
            dob: (() => {const d = new Date(); d.setFullYear(d.getFullYear() - 18); return d})().toISOString().substr(0, 10),
            userName: '',
            password: '',
            authAs: 'client'
        },
        rules: {
            name: [
                v => !!v || 'Name is required',
                v => (v && v.length <= 20) || 'Name must be less than 20 characters',
            ],
            email: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            address: [
                v => !!v || 'Address (city name) is required',
                v => (v && v.length <= 30) || 'Address must be less than 30 characters',
            ],
            phoneNumber: [
                v => !!v || 'Phone Number is required',
                v => /(\+2519|09)\d{8}/.test(v) || 'not a valid Ethiopian phone no. (+2519xxxxxxxx or 09xxxxxxxx)',
            ],
            dob: [
                v => !!v || 'BirthDate is required'
            ],
            userName: [
                v => !!v || 'Username is required',
                v => (v && v.length <= 15) || 'Name must be less than 15 characters',
            ],
            password: [
                v => !!v || 'Password is required',
                v => (v && v.length >= 8) || 'Password must be at least 8 characters long',
                v => /^(?=.*?[A-Z])(?=.*?[a-z]).{8,}$/.test(v) || 'Password must contain at least one upper case and one lower case English letter',
                v => /^(?=.*?[0-9]).{8,}$/.test(v) || 'Password must contain at one digit',
                v => /^(?=.*?[#?!@$%^&*-.]).{8,}$/.test(v) || 'Password must contain at least one special character',
            ]
        },
        valid: true,
        agreedToTermsOfService: false,
        authError: null,
        tryingToSignUp: false,
        citiesList: citiesList,
        cityInput: 'Addis Ababa',
        dobPicker: null,
        showPassword: false,
        authSuccess: false
    }),

    computed: {
        cities() {
            return [
                ...this.citiesList,
                this.cityInput
            ]
        }
    },
    methods: {
        ...authMethods,
        cityFitler (item, queryText, itemText) {
            return itemText === this.cityName || itemText.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) > -1
        },
        tryToSignup() {
            console.log(this.role)
            this.tryingToSignup = true
            this.authError = null
            return this.signUp(this.formData)
                .then(() => {
                    this.tryingToSignup = false

                    this.authSuccess = true

                    setTimeout(() => this.$router.push(this.$route.query.redirectFrom || { name: 'login' }), 1500)

                })
                .catch((error) => {
                    this.tryingToSignup = false
                    this.authError = error
                })
        },
    },
}
</script>

<template>
    <Layout :hideCategories="true">
        <v-card
            :class="$style.card"
            class="mx-auto pt-5 pb-0 mb-5"
            width="700"
            align="center"
        >
            <v-card-text>
                <p class="headline text--primary">
                    Sign up to MasterLance
                </p>
            </v-card-text>
            <v-container :class="$style.cardcontainer">
                <v-alert
                    v-if="authSuccess"
                    type="success"
                >
                    You've successfully signed up! please login to continue
                </v-alert>
                <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                    <v-row>
                        <v-text-field
                            v-model="formData.firstName"
                            :rules="rules.name"
                            :counter="20"
                            label="First name"
                            required
                            filled
                            class="mr-1"
                        ></v-text-field>
                        <v-text-field
                            v-model="formData.lastName"
                            :rules="rules.name"
                            :counter="20"
                            label="Last name"
                            required
                            filled
                            class="ml-1"
                        ></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field
                            v-model="formData.email"
                            :rules="rules.email"
                            label="Email"
                            required
                            filled
                        ></v-text-field>
                    </v-row>
                    <v-row>
                        <v-autocomplete
                            v-model="formData.address"
                            :rules="rules.address"
                            :items="cities"
                            :counter="30"
                            label="Address"
                            persistent-hint
                            prepend-icon="mdi-city"
                            filled
                            required
                            @update:search-input="data => this.cityInput = data"
                            :filter="cityFilter"
                        >
                        </v-autocomplete>
                    </v-row>
                    <v-row>
                        <v-text-field
                            v-model="formData.phoneNumber"
                            :rules="rules.phoneNumber"
                            label="Phone Number"
                            required
                            filled
                            class="mr-1"
                        ></v-text-field>
                       
                        <v-menu
                            v-model="dobPicker"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="formData.dob"
                                    label="Birthdate"
                                    :rules="rules.dob"
                                    readonly
                                    filled
                                    v-bind="attrs"
                                    v-on="on"
                                    class="ml-1"
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                v-model="formData.dob"
                                @input="dobPicker = false"
                            ></v-date-picker>
                        </v-menu>
                    </v-row>
                    <v-row>
                        <v-text-field
                            v-model="formData.userName"
                            :rules="rules.userName"
                            :counter="15"   
                            label="Username"
                            required
                            filled
                        ></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field
                            v-model="formData.password"
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="rules.password"
                            :type="showPassword ? 'text' : 'password'"
                            name="input-10-1"
                            label="Password"
                            counter
                            filled
                            @click:append="showPassword = !showPassword"
                        ></v-text-field>
                    </v-row>
                    <v-row>
                        <v-col
                            cols="12"
                            class="py-2"
                        >
                            <p>I want to:</p>

                            <v-btn-toggle
                                v-model="formData.authAs"
                                tile
                                color="primary"
                                group
                                mandatory
                            >
                                <v-btn value="client">
                                    Hire for a project
                                </v-btn>

                                <v-btn value="freelancer">
                                    Work as a freelancer
                                </v-btn>
                            </v-btn-toggle>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-checkbox
                            v-model="agreedToTermsOfService"
                            :rules="[v => !!v || 'You must agree to continue!']"
                            required
                        >
                            <template slot="label">
                                Yes, I understand and agree to the <router-link class="pl-1" to="terms-of-service">Terms of Service</router-link>.
                            </template>
                        </v-checkbox>
                    </v-row>
                    <v-card-actions class="pr-5 pl-5 pt-2 pb-5">
                        <v-btn
                        block="true"
                        color="primary"
                        large="true"
                        :disabled="!agreedToTermsOfService || tryingToSignup || !valid"
                        @click="tryToSignup"
                        >
                        Register
                        </v-btn>
                    </v-card-actions>
                    <p v-if="authError">
                        There was an error logging in to your account.
                    </p>
                    <router-link class="font-weight-medium primary--text" to="/login">
                        I already have an account
                    </router-link>
                </v-form>
            </v-container>
        </v-card>
    </Layout>
</template>

<style lang="scss" module>
@import '@design';

.card {
  top: 20px;
}
.register {
  cursor: pointer;
}
.cardcontainer {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
</style>
