<script>
export default {
  data() {
    return {
      categories: [
        'Web Dev',
        'Mobile Dev',
        'Design',
        'Writing',
        'Admin Support',
        'Customer Service',
        'Marketing',
        'Accounting',
        'See All Categories',
      ],
    }
  },
}
</script>
<template>
  <v-row class="elevation-1">
    <v-btn-toggle
      v-model="category"
      tile
      class="container py-0"
      color="deep-purple accent-3"
      group
    >
      <v-btn
        to="/cat/dsf"
        :value="category"
        v-for="category in categories"
        :key="category"
        small
      >
        {{ category }}
      </v-btn>
    </v-btn-toggle>
  </v-row>
</template>