<script>
// import ProposalItem from '@components/proposal_item.vue'

export default {
  // components : {ProposalItem},
  props: {
    job: {},
  },
  data() {
    return {
      dialog: false,
      hoverfreelancer: false,
      hoverbudget: false,
      hoverduration: false,
      elevation: 0,

      show : false
    }
  },
}
</script>

<template>
  <div>
    <v-card
      :class="`rounded-sm`"
      class="mx-auto"
    >

      <v-card-title class="pt-5">
        {{ job.title }}
      </v-card-title>

      <v-card-text>
        <div class="font-weight-regular">
          {{ job.description }}
        </div>
      </v-card-text>
      <v-card-actions>
        <v-badge
          :value="hoverfreelancer"
          color="black"
          content="Freelancers Needed"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverfreelancer">
            <v-list-job-action-text class="ma-2" small label>
              <v-icon>mdi-account-group</v-icon> {{ job.noOfFreelancersNeeded }}
            </v-list-job-action-text>
          </v-hover>
        </v-badge>
        <!-- budget -->
        <v-badge
          :value="hoverbudget"
          color="black"
          content="Budget"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverbudget">
            <v-list-job-action-text class="ma-2" small label>
              <v-icon>mdi-cash-multiple</v-icon> {{ job.price }}
            </v-list-job-action-text>
          </v-hover>
        </v-badge>
        <!-- duration -->
        <v-badge
          :value="hoverduration"
          color="black"
          content="Duration"
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverduration">
            <v-list-job-action-text class="ma-2" small label>
              <v-icon>mdi-timetable</v-icon> {{ job.jobDuration.amount }}
              {{ job.jobDuration.unit }}
            </v-list-job-action-text>
          </v-hover>
        </v-badge>

        <v-chip
          v-for="skill in job.skillsRequired"
          :key="skill.id"
          class="ma-2"
          small
          outlined
          label
        >
          {{ skill.label }}
        </v-chip>
        <v-spacer></v-spacer>
        <v-btn
          text
          color="primary accent-4"
          @click="$router.push('/messages')"
        >
          Contact Freelancer
        </v-btn>
      </v-card-actions>
      <div class="overline mb-4">

      </div>
    </v-card>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
