<script>
import ProposalItem from '@components/proposal_item.vue'

export default {
  components : {ProposalItem},
  props: {
    job: {},
  },
  data() {
    return {
      dialog: false,
      hoverfreelancer: false,
      hoverbudget: false,
      hoverduration: false,
      elevation: 0,

      proposals: [
        {
          name: "Girma",
          applicationLetter: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish"
        },
        {
          name: "Chala",
          applicationLetter: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish"
        },
        {
          name: "Girma",
          applicationLetter: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish"
        },
      ],

      show : false
    }
  },
}
</script>

<template>
  <div>
    <v-card
      :class="`rounded-sm`"
      class="mx-auto"
      @click="dialog = true"
    >

      <v-card-title class="pt-5">
        {{ job.title }}
      </v-card-title>

      <v-card-text>
        <div class="font-weight-regular">
          {{ job.description }}
        </div>
      </v-card-text>
      <v-card-actions>
        <v-badge
          :value="hoverfreelancer"
          color="black"
          content="Freelancers Needed"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverfreelancer">
            <v-list-job-action-text class="ma-2" small label>
              <v-icon>mdi-account-group</v-icon> {{ job.noOfFreelancersNeeded }}
            </v-list-job-action-text>
          </v-hover>
        </v-badge>
        <!-- budget -->
        <v-badge
          :value="hoverbudget"
          color="black"
          content="Budget"
          center
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverbudget">
            <v-list-job-action-text class="ma-2" small label>
              <v-icon>mdi-cash-multiple</v-icon> {{ job.price }}
            </v-list-job-action-text>
          </v-hover>
        </v-badge>
        <!-- duration -->
        <v-badge
          :value="hoverduration"
          color="black"
          content="Duration"
          transition="slide-y-transition"
        >
          <v-hover v-model="hoverduration">
            <v-list-job-action-text class="ma-2" small label>
              <v-icon>mdi-timetable</v-icon> {{ job.jobDuration.amount }}
              {{ job.jobDuration.unit }}
            </v-list-job-action-text>
          </v-hover>
        </v-badge>

        <v-chip
          v-for="skill in job.skillsRequired"
          :key="skill.id"
          class="ma-2"
          small
          outlined
          label
        >
          {{ skill.label }}
        </v-chip>
      </v-card-actions>
      <div class="overline mb-4">

    </div>
    </v-card>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="scale-transition"
      scrollable
    >
      <v-card tile>
        <v-toolbar flat color="#EEEEEE" max-height="70">
          <v-btn icon @click="dialog = false">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title>Proposal list</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom right offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list> </v-list>
          </v-menu>
        </v-toolbar>
        <v-card-text>
          <v-divider></v-divider>
          <div>
            <template v-for="(item, index) in proposals">

              <ProposalItem :key="index" :item="item"/>
            </template>

          </div>
        </v-card-text>

        <div style="flex: 1 1 auto"></div>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
