<script>
import { jobMethods } from '@state/helpers'

export default {
  props: {
      item: {},
  },
  data() {
    return {
      show: false,
      denialDialog: false,

      hoverfreelancer: false,
      hoverbudget: false,
      hoverduration: false,
    }
  },

  methods: {
    ...jobMethods,
    denyApproval(jobId, denialMessage) {
      var vm = this
      vm.denialDialog = false
      return this.denyApproval(jobId, denialMessage)
        .then(() => {

      })
    },

    approveJob(jobId){
      return this.approveJob(jobId).then(() => {

      })
    },

    fetchUnapprovedJobs(){
      return this.fetchUnapprovedJobs.then(() => {

      })
    }
  }
}
</script>

<template>

        <v-card
          :class="`rounded-sm`"
          class="mx-auto"
          max-width="900"
        >
          <v-card-title class="pt-5">
              {{item.title}}
          </v-card-title>

          <v-card-text>
            <div class="font-weight-regular">
              {{item.description}}
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary accent-4"
              @click="approveJob(item.id)"
            >
              Approve
            </v-btn>
            <v-btn
              text
              color="error accent-4"
              @click="denialDialog = true"
            >
              Decline
            </v-btn>
            <v-dialog
              v-model="denialDialog"
              max-width="500px"
            >
              <v-card>
                <v-card-title></v-card-title>
                <v-card-text>
                  <v-textarea
                    label="Outlined"
                    placeholder="Denial Message"
                    outlined
                  ></v-textarea>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="primary"
                    text
                    @click="denyApproval(item.id, item.description)"
                  >
                    Submit
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>



            <v-btn
              icon
              @click="show = !show"
            >
              <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>

              <v-card-text>
                <v-row>
                  <v-badge
                    :value="hoverfreelancer"
                    color="black"
                    content="Freelancers Needed"
                    center
                    transition="slide-y-transition"
                  >
                    <v-hover v-model="hoverfreelancer">
                      <v-list-item-action-text class="ma-2" small label>
                        <v-icon>mdi-account-group</v-icon> {{ item.noOfFreelancersNeeded }}
                      </v-list-item-action-text>
                    </v-hover>
                  </v-badge>
                  <!-- budget -->

                  <v-badge
                    :value="hoverbudget"
                    color="black"
                    content="Budget"
                    center
                    transition="slide-y-transition"
                  >
                    <v-hover v-model="hoverbudget">
                      <v-list-item-action-text class="ma-2" small label>
                        <v-icon>mdi-cash-multiple</v-icon> {{ item.price }}
                      </v-list-item-action-text>
                    </v-hover>
                  </v-badge>
                  <!-- duration -->
                  <v-badge
                    :value="hoverduration"
                    color="black"
                    content="Duration"
                    center
                    transition="slide-y-transition"
                  >
                    <v-hover v-model="hoverduration">
                      <v-list-item-action-text class="ma-2" small label>
                        <v-icon>mdi-timetable</v-icon><!--  {{ item.jobDuration.amount }} {{ item.jobDuration.unit }} -->
                      </v-list-item-action-text>
                    </v-hover>
                  </v-badge>

                </v-row>
                <span></span>
                <v-list>
                  <v-list-item
                  >
                    <v-list-item-avatar>
                      <v-avatar
                        color=""
                        size="50"
                        @click ="show = !show"
                      >
                        <img src="@assets/images/avatar_1.jpg" />
                      </v-avatar>
                    </v-list-item-avatar>
                    <v-list-item-title
                      @click ="show = !show"
                    >
                      User name
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
                <div
                  class="text-subtitle-1 transition-swing"
                >
                Previous flags
                </div>
                <v-simple-table dark>
                    <thead>
                      <tr>
                        <th class="text-left">
                          Flag
                        </th>
                        <th class="text-left">
                          Date
                        </th>
                        <th class="text-left">
                          Is solved
                        </th>
                        <th class="text-left">
                          Detail
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                      >
                        <td> Scam </td>
                        <td> 12/12/12 </td>
                        <td> Yes </td>
                        <td> my text of the printing and typesetting industry.
                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown pr </td>
                      </tr>
                    </tbody>
                </v-simple-table>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>

</template>

<style lang="scss" module>
  @import '@design';
</style>
