<script>
import { authComputed, notificationsComputed, notificationsMethods } from '@state/helpers'
import NavBarRoutes from './nav-bar-routes.vue'

export default {
  components: { NavBarRoutes },
  data() {
    return {
      persistentNavRoutes: [
        {
          name: 'home',
          title: 'Home',
        },
      ],
      menuItems: [
        { title: 'Settings', name: '/settings', icon: 'mdi-settings' },
        {
          name: '/logout',
          title: 'Log out',
          icon: 'mdi-logout'
        },
      ],
      freelancerNavRoutes: [
        {
          name: 'find-work',
          title: 'Find Work',
        }
      ],
      clientNavRoutes: [
        {
          name: 'post-job',
          title: 'Post Job',
        }
      ],
      moderatorNavRoutes: [
        {
          name: 'reports',
          title: 'Reports',
        }
      ],
      loggedOutNavRoutes: [
        {
          name: 'login',
          title: 'Log in',
        },
        {
          name: 'signup',
          title: 'Sign Up',
        },
      ],
      notificationFetchingInterval: null
    }
  },
  computed: {
    ...authComputed,
    ...notificationsComputed,
    initials() {
      return [
        this.currentUser.user.firstName[0],
        this.currentUser.user.lastName[0]
      ].join('')
    }
  },
  methods: {
    ...notificationsMethods
  },
  mounted() {
    this.notificationFetchingInterval = setInterval(() => this.fetchNotifications(), 4000)
  },
  destroyed() {
    clearInterval(this.notificationFetchingInterval)
  }
}
</script>

<template>
  <div>
    <v-row class="child-flex py-0 mb-0 white">
      <v-toolbar flat class="transparent py-0 my-0 container">
        <img src="@assets/images/logo.png" alt="Logo" height="42"/>

        <v-toolbar-title
          class="headline mr-5"
          style="cursor: pointer;"
          @click="$router.push('/')"
          >
          aster<span class="font-weight-light">Lance</span></v-toolbar-title
        >
          <v-text-field
            class="mx-0 ml-5"
            flat
            hide-details
            label="Find Professionals or Jobs..."
            prepend-inner-icon="mdi-magnify"
            solo-inverted
          ></v-text-field>
          <v-spacer></v-spacer>

          <NavBarRoutes :routes="persistentNavRoutes" />
          <NavBarRoutes v-if="loggedIn && currentUser.user.authAs === 'client'" :routes="clientNavRoutes" />
          <NavBarRoutes v-else-if="loggedIn && currentUser.user.authAs === 'freelancer'" :routes="freelancerNavRoutes" />
          <NavBarRoutes v-else-if="loggedIn && currentUser.user.authAs === 'moderator'" :routes="moderatorNavRoutes" />
          <NavBarRoutes v-else :routes="loggedOutNavRoutes" />

          <template v-if="loggedIn">
            <v-menu  bottom left  class="mx-4">
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click="markNotificationsSeen">
                  <v-badge
                    :color="unseenNotifications.length ? 'green' : 'transparent'"
                    overlap
                    :content="unseenNotifications.length"
                  >
                    <v-icon class="primary--text">mdi-bell-outline</v-icon>
                  </v-badge>
                </v-btn>
              </template>

              <v-list three-line width="400" height="500">
                <v-subheader>Notifications</v-subheader>
                <v-divider></v-divider>

                <template v-if="notifications">
                  <template v-for="(notification, index) in notifications.slice(0, 5)">
                    <v-list-item :key="index" :to="notification.action" :class="{ 'grey lighten-4': !notification.visited }" inactive>
                      <v-list-item-content>
                        <v-list-item-title v-html="notification.title"></v-list-item-title>
                        <v-list-item-subtitle v-html="notification.body"></v-list-item-subtitle>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-list-item-action-text v-text="notification.dateTime"></v-list-item-action-text>
                      </v-list-item-action>
                    </v-list-item>
                    <v-divider :key="index" v-if="index !== 4"></v-divider>
                  </template>
                </template>
                <template v-else>
                  No notification
                </template>
              </v-list>
            </v-menu>

            <v-menu
              bottom
              min-width="250px"
              rounded
              offset-y
              left
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  x-large
                  v-on="on"
                >
                  <v-avatar
                    color="brown"
                    size="44"
                  >
                    <span class="white--text headline">{{ initials }}</span>
                  </v-avatar>
                </v-btn>
              </template>
              <v-card>
                <v-list-item-content class="justify-center">
                  <div class="mx-auto text-center">
                    <router-link to="/profile" tag="span">
                      <v-avatar
                        color="brown"
                        style="cursor: pointer;"
                      >
                        <span class="white--text headline" style="text-transform: uppercase;">{{ initials }}</span>
                      </v-avatar>
                    </router-link>
                    <router-link to="/profile" tag="div">
                      <div class="subtitle pt-2 font-weight-normal" style="text-transform: capitalize;cursor:pointer;">{{ currentUser.user.firstName + ' ' + currentUser.user.lastName }}</div>
                      <p class="caption mt-0 primary--text"  style="cursor: pointer;">
                        {{ currentUser.user.authAs }}
                      </p>
                    </router-link>
                    <v-btn
                      rounded
                      text
                      v-if="currentUser.user.authAs === 'freelancer'"
                      to="/client/home"
                    >
                      Post Jobs
                    </v-btn>
                    <v-btn
                      rounded
                      text
                      v-else-if="currentUser.user.authAs === 'client'"
                      to="/find-work"
                    >
                      Do Freelance
                    </v-btn>
                    <v-divider class="mt-3"></v-divider>
                    <v-list class="mb-0 pb-0">
                      <v-list-item
                        v-for="(item, i) in menuItems"
                        :key="i"
                        :to="item.name"
                        class="text-left"
                      >
                        <v-list-item-icon class="ml-3 mr-3">
                          <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                        <v-spacer></v-spacer>
                      </v-list-item>
                    </v-list>
                  </div>
              </v-list-item-content>
            </v-card>
          </v-menu>
        </template>
      </v-toolbar>
    </v-row>
  </div>
</template>

<style lang="scss" module>
@import '@design';

.container {
  // padding: 0;
  // margin: 0 0 $size-grid-padding;
  text-align: center;
  list-style-type: none;
  // > li {
  //   display: inline-block;
  //   margin-right: $size-grid-padding;
  // }
}
</style>
