<script>

export default {
  props: {
      item: {},
  },
  data() {
    return {
      dialog: false,

      hoverfreelancer: false,
      hoverbudget: false,
      hoverduration: false,
    }
  },

  methods: {

  }
}
</script>

<template>

        <v-card
          :class="`rounded-sm`"
          class="mx-auto"
          max-width="900"
        >
          <v-card-title class="pt-5">
              {{item.name}}
          </v-card-title>

          <v-card-text>
            <div class="font-weight-regular">
              {{item.applicationLetter}}
            </div>
          </v-card-text>

          <v-card-actions>
            <v-btn
              text
              color="primary accent-4"
              @click="$router.push('/messages')"
            >
              Send Message
            </v-btn>

             <v-btn
              text
              color="primary accent-4"
              @click.stop="dialog = true"
            >
              Accept
            </v-btn>
            <v-dialog
              v-model="dialog"
              max-width="290"
            >
              <v-card>
                <v-card-title class="headline">

                </v-card-title>

                <v-card-text>
                  Are you sure you want to accept this proposal ?
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialog = false"
                  >
                    Disagree
                  </v-btn>

                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialog = false"
                  >
                    Agree
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-spacer></v-spacer>


          </v-card-actions>
        </v-card>

</template>

<style lang="scss" module>
  @import '@design';
</style>
