<script>
// import { jobMethods } from '@state/helpers'

export default {
  props: {
      item: {},
  },
  data() {
    return {
      show: false,
      denialDialog: false,

      hoverfreelancer: false,
      hoverbudget: false,
      hoverduration: false,
    }
  },

  methods: {
    // ...jobMethods,
    // denyApproval(jobId, denialMessage) {
    //   var vm = this
    //   vm.denialDialog = false
    //   return this.denyApproval(jobId, denialMessage)
    //     .then(() => {

    //   })
    // },

    // approveJob(jobId){
    //   return this.approveJob(jobId).then(() => {

    //   })
    // }
  }
}
</script>

<template>

        <v-card
          :class="`rounded-sm`"
          class="mx-auto"
          max-width="900"
        >
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            @click:close="chip2 = false"
          >
            12 scam or phishing
          </v-chip>
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            @click:close="chip2 = false"
          >
            10 unorganised
          </v-chip>
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            @click:close="chip2 = false"
          >
            10 unapproved payment method
          </v-chip>
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            @click:close="chip2 = false"
          >
            Involves schoolwork
          </v-chip>
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            @click:close="chip2 = false"
          >
            10 sales pitch
          </v-chip>
          <v-card-title class="pt-5">
              {{item.title}}
          </v-card-title>

          <v-card-text>
            <div class="font-weight-regular">
              {{item.description}}
            </div>
          </v-card-text>

          <v-card-actions>
            <v-badge
              :value="hoverfreelancer"
              color="black"
              content="Freelancers Needed"
              center
              transition="slide-y-transition"
            >
              <v-hover v-model="hoverfreelancer">
                <v-list-item-action-text class="ma-2" small label>
                  <v-icon>mdi-account-group</v-icon> 2
                </v-list-item-action-text>
              </v-hover>
            </v-badge>
            <!-- budget -->
            <v-badge
              :value="hoverbudget"
              color="black"
              content="Budget"
              center
              transition="slide-y-transition"
            >
              <v-hover v-model="hoverbudget">
                <v-list-item-action-text class="ma-2" small label>
                  <v-icon>mdi-cash-multiple</v-icon> 1000
                </v-list-item-action-text>
              </v-hover>
            </v-badge>
            <!-- duration -->
            <v-badge
              :value="hoverduration"
              color="black"
              content="Duration"
              transition="slide-y-transition"
            >
              <v-hover v-model="hoverduration">
                <v-list-item-action-text class="ma-2" small label>
                  <v-icon>mdi-timetable</v-icon> 2
                  weeks
                </v-list-item-action-text>
              </v-hover>
            </v-badge>


            <v-spacer></v-spacer>


            <v-btn
              text
              color="primary accent-4"

            >
              Flag
            </v-btn>
            <v-btn
              text
              color="error accent-4"
              @click="denialDialog = true"
            >
              Remove
            </v-btn>
          </v-card-actions>
          <!-- <v-expand-transition>

          </v-expand-transition> -->
        </v-card>

</template>

<style lang="scss" module>
  @import '@design';
</style>
