<template>
  <v-col class="mb-3">
    <v-card class="elevation-4">
      <v-card-title class="grey lighten-5 py-5">
        <span class="my-3 pl-4 headline black--text">
          <slot name="title">
            Settings
          </slot>
        </span>
        <v-spacer></v-spacer>
        <span class="pr-4">
          <slot name="actions">
          </slot>
        </span>
      </v-card-title>
      <v-divider></v-divider>
      <v-container>
        <slot :name="state">
          <span class="grey--text pl-5">
            No content
          </span>
        </slot>
      </v-container>
    </v-card>
  </v-col>
</template>
<script>
export default {
  props: {
    state: {
      type: String,
      default: 'normal'
    }
  }
}
</script>