<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main.vue'
import Footer from '@views/footer.vue'
import JobItem from '@components/client_Job_item.vue'
import JobContract from '@components/client_Job_contract.vue'
import { jobsComputed, jobsMethods } from '@state/helpers'


export default {
  components: { Layout, Footer, JobItem, JobContract },
  data() {
    return {
    }
  },
  page: {
    title: 'Home',
    meta: [{ name: 'description', content: appConfig.description }],
  },

  computed: {
    ...jobsComputed,
  },

  methods: {
    ...jobsMethods,
    // async fetchMyJobs(job) {
    //   this.error = null
    //   this.createdJob = null

    //   try {
    //     this.createdJob = await this.postJob({
    //       ...job,
    //       skillsRequired: job.skillsRequired.filter(({ id }) => !!id),
    //     })
    //     setTimeout(() => this.$router.push({ name: 'home' }), 4000)
    //   } catch (err) {
    //     this.error = err
    //   }
    // },
  },


  created() {
    this.fetchMyJobs()
  },
}
</script>

<template>
  <Layout >
    <v-card
      :Centered="true"
    >
    <v-tabs
      background-color="#EEEEEE"
      icons-and-text
      centered
    >
      <v-tab>
        Jobs
        <v-icon>mdi-briefcase</v-icon>
      </v-tab>

      <v-tab>
        My Hires
        <v-icon>mdi-briefcase</v-icon>
      </v-tab>

      <v-tab to="/post-job">
        Post Job
        <v-icon>mdi-pencil</v-icon>
      </v-tab>



      <v-tab-item>
        <template v-for="(job, index) in myJobs">
          <JobItem :key="index" :job="job"/>
        </template>
      </v-tab-item>
      <v-tab-item>
        <template v-for="(job, index) in jobs">
          <JobContract :key="index" :job="job"/>
        </template>
      </v-tab-item>
      <v-tab-item>
        {{text}}
      </v-tab-item>
    </v-tabs>
  </v-card>

  <Footer />
  </Layout>
</template>
