<script>
import Layout from '@layouts/main.vue'
import { skillsComputed, jobsMethods } from '@state/helpers'

import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

export default {
  page: {
    title: 'JobPost',
    meta: [{ name: 'description', content: 'JobPost' }],
  },
  components: { Layout },
  data() {
    return {
      editor: ClassicEditor,
      editorData: '<p>Describe the job in details</p>',
      editorConfig: {
        toolbar: [
          'heading',
          '|',
          'bold',
          'italic',
          'link',
          '|',
          'bulletedList',
          'numberedList',
          'blockQuote',
          '|',
          'insertTable',
          'imageUpload',
          '|',
          'undo',
          'redo',
        ],
        // The configuration of the editor.
        fillEmptyBlocks: false,
        basicEntities: false,
        entities: false,
        language: 'en',
        ckfinder: {
          // Upload the images to the server using the CKFinder QuickUpload command.
          uploadUrl:
            'https://example.com/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images&responseType=json',
          // Define the CKFinder configuration (if necessary).
          options: {
            resourceType: 'Images',
          },
        },
        mediaEmbed: {
          previewsInData: true,
        },
      },
      job: {
        title: '',
        price: '',
        description: '',
        duration: {
          amount: 1,
          unit: 'days',
        },
        skillsRequired: [],
        noOfFreelancersNeeded: 1,
      },
      createdJob: null,
      error: null,
      placeholder: 'Write the job description in detail...',
      durations: [
        {
          label: 'Day/s',
          value: 'days',
        },
        { label: 'Week/s', value: 'weeks' },
        { label: 'Month/s', value: 'months' },
      ],
    }
  },
  computed: {
    ...skillsComputed,
  },
  methods: {
    ...jobsMethods,
    async publishJob(job) {
      this.error = null
      this.createdJob = null

      try {
        this.createdJob = await this.postJob({
          ...job,
          skillsRequired: job.skillsRequired.filter(({ id }) => !!id),
        })
        setTimeout(() => this.$router.push({ name: 'home' }), 4000)
      } catch (err) {
        this.error = err
      }
    },
  },
}
</script>

<template>
  <Layout>
    <h3 class="headline my-5 pt-3"> Publish a new Job </h3>
    <div class="ma-0 pa-0">
      <v-card class="elevation-4 pa-3 pb-0">
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-alert v-if="createdJob" type="success">
              <router-link to="/" class="white">The Job</router-link> has
              successfully been created! Redirecting to your home page...
            </v-alert>
            <v-alert v-else-if="error" type="error">
              {{ error }}
            </v-alert>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="job.title"
                  label="Job Title"
                  placeholder="e.g. Build a Telegram Bot for my channel"
                  filled
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="2" class="mt-1 py-0">
                <v-text-field
                  v-model="job.price"
                  type="number"
                  label="Price"
                  placeholder="e.g. 100"
                  value="10.00"
                  suffix="Birr"
                  filled
                ></v-text-field>
              </v-col>
              <v-col cols="4" class="mt-1 py-0">
                <v-text-field
                  v-model="job.noOfFreelancersNeeded"
                  type="number"
                  label="No of Freelancers required"
                  placeholder="e.g. 1"
                  filled
                ></v-text-field>
              </v-col>
              <v-spacer></v-spacer>
              <v-col style="max-width: 190px;" class="my-0 py-0">
                <v-text-field
                  v-model="job.duration.amount"
                  label="Duration"
                  type="number"
                  placeholder="e.g. 1 (week)"
                  filled
                  class="pa-0 ma-0 pt-1"
                >
                  <template v-slot:append>
                    <v-select
                      v-model="job.duration.unit"
                      :items="durations"
                      item-text="label"
                      item-value="value"
                      class="pa-0 ma-0 mb-1"
                      style="max-height: 41px !important;"
                      flat
                    ></v-select>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="py-0 my-0 pb-3">
                Body:
              </v-col>
            </v-row>
            <v-row>
              <v-col class="my-0 py-0">
                <ckeditor
                  v-model="job.description"
                  :editor="editor"
                  :config="editorConfig"
                ></ckeditor>
              </v-col>
            </v-row>

            <v-row>
              <v-col class="my-0 py-0"> </v-col>
            </v-row>
            <v-row>
              <v-col class="mb-0 mt-4">
                <v-combobox
                  v-model="job.skillsRequired"
                  label="Tags"
                  clearable
                  chips
                  hide-selected
                  multiple
                  persistent-hint
                  small-chips
                  placeholder="e.g. (telegram, bot, nodejs)"
                  :items="availableSkills"
                  counter="4"
                  item-text="label"
                  filled
                  deletable-chips
                ></v-combobox>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
      <v-layout class="pt-1">
        <v-btn large class="my-5 primary" @click="publishJob(job)">
          Publish this Job
        </v-btn>
      </v-layout>
    </div>
  </Layout>
</template>

<style lang="scss">
.ck-editor__editable {
  min-height: 200px;
}
</style>
