<script>
import Layout from '@layouts/main.vue'
import JobItem from '@components/job_item.vue'
import ReportItem from '@components/report_item.vue'

export default {
  page: {
    title: 'Dashboard',
    meta: [{ name: 'dashboard', content: 'The dashboard page.' }],
  },
  components: {  Layout, JobItem, ReportItem },
  data() {
    return {
      test: 'dashboard it is',
      jobs: [
        {
          title: "Web development",
          price: 1000,
          description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish",
          noOfFreelancersNeeded: 3,
          isApproved: false,
          postedBy: "Girma",
        },
        {
          title: "Web development",
          price: 1000,
          description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish",
          noOfFreelancersNeeded: 3,
          isApproved: false,
          postedBy: "Girma",
        },
        {
          title: "Web development",
          price: 1000,
          description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish",
          noOfFreelancersNeeded: 3,
          isApproved: false,
          postedBy: "Girma",
        },
        {
          title: "Web development",
          price: 1000,
          description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish",
          noOfFreelancersNeeded: 3,
          isApproved: false,
          postedBy: "Girma",
        },
      ],

      show: false
    }
  },
}
</script>

<template>
  <Layout>
    <v-card flat class="pt-2">
      <v-tabs vertical>
        <v-tab>
          New job entries
        </v-tab>
        <v-tab>
          Reports
        </v-tab>

        <v-tab-item>
           <v-card
            max-width="900"
          >
            <v-toolbar
              flat
              color="#EEEEEE"
              height="90"

            >
              <v-toolbar-title>New job entries</v-toolbar-title>
              <v-spacer/>
              <v-icon> mdi-refresh </v-icon>
            </v-toolbar>

            <template v-for="(item, index) in jobs">

              <JobItem :key="index" :item="item"/>
            </template>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card
            max-width="900"
          >
            <v-toolbar
              flat
              color="#EEEEEE"
              height="90"

            >
              <v-toolbar-title>Reports</v-toolbar-title>
              <v-spacer/>
              <v-icon> mdi-refresh </v-icon>
            </v-toolbar>

            <template v-for="(item, index) in jobs">

              <ReportItem :key="index" :item="item"/>
            </template>
          </v-card>

        </v-tab-item>
      </v-tabs>
    </v-card>

  </Layout>
</template>

<style lang="scss" module>
  @import '@design';
</style>
