<script>
import Layout from '@layouts/main.vue'

export default {
  page: {
    title: '404',
    meta: [{ name: 'description', content: '404' }],
  },
  components: { Layout },
  props: {
    reason: {
      type: String,
      default: '',
    },
  },
}
</script>

<template>
  <Layout>
      <div :class="$style.title">
        <h1>
        401:
        Not Authorized
        </h1>
        <template v-if="reason">
            {{reason}}
        </template>
      </div>
  </Layout>
</template>

<style lang="scss" module>
.title {
  text-align: center;
}
</style>
