<script>
export default {
  data() {
    return {
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram',
      ],
    }
  },
}
</script>

<template>
  <Layout>
    <v-footer padless>
    <v-col
      class="text-center"
      cols="12"
    >
      {{ new Date().getFullYear() }} — <strong>MasterLance</strong>
    </v-col>
  </v-footer>
  </Layout>
</template>

<style lang="scss" module>
.title {
  text-align: center;
}
</style>
