<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main.vue'
import Footer from '@views/footer.vue'

export default {
  components: { Layout, Footer },
  data() {
    return {
      picker: new Date().toISOString().substr(0, 10),
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4',
      ],
      slides: ['First', 'Second', 'Third', 'Fourth', 'Fifth'],
    }
  },
  page: {
    title: 'Home',
    meta: [{ name: 'description', content: appConfig.description }],
  },
}
</script>

<template>
  <Layout :unCentered="true">
    <v-carousel
      cycle
      class="ma-0 pa-0"
      height="400"
      hide-delimiter-background
      show-arrows-on-hover
    >
      <v-carousel-item v-for="(slide, i) in slides" :key="i">
        <v-sheet :color="colors[i]" height="100%">
          <v-row class="fill-height" align="center" justify="center">
            <div class="display-3"> {{ slide }} Slide </div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    <h1>Home Page</h1>1
    <v-row justify="center">
      <v-date-picker v-model="picker"></v-date-picker>
    </v-row>
    <Footer />
  </Layout>
</template>
