<script>
import Layout from '@layouts/main.vue'
import JobList from '@views/Freelancer/joblist.vue'
import axios from 'axios'

export default {
  page: {
    title: 'Job',
    meta: [{ name: 'description', content: 'The Job page.' }],
  },
  components: { Layout, JobList },
  data() {
    return {
      search: '',
      jobs: [],
    }
  },
  created() {
    axios
      .get('http://localhost:3000/jobs')
      .then((response) => {
        this.jobs = response.data
        console.log(this.jobs)
      })
      .catch((err) => {
        console.log(err)
      })
  },
  methods: {
    onJobClick () {
      console.log("123");
      this.$router.push({ path: `/job/${123}` }) // -> /job/123
    },
  }
}
</script>

<template>
  <Layout>
    Job
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
      single-line
      hide-details
    ></v-text-field>
    <JobList
      v-for="(item, index) in jobs"
      :key="index"
      @click="onJobClick"
      v-bind:isApproved="item.isApproved"
      v-bind:title="item.title"
      v-bind:price="item.price"
      v-bind:skillsRequired="item.skillsRequired"
      v-bind:description="item.description"
      v-bind:noOfFreelancersNeeded="item.noOfFreelancersNeeded"
      v-bind:jobDuration="item.jobDuration"
    />
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>
