<script>
import Layout from '@layouts/main.vue'
import { authMethods } from '@state/helpers'
import appConfig from '@src/app.config'

export default {
  page: {
    title: 'Log in',
    meta: [{ name: 'description', content: `Log in to ${appConfig.title}` }],
  },
  components: { Layout },
  data() {
    return {
      email: '',
      password: '',
      authError: null,
      tryingToLogIn: false,
      show1: false,
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => "The email and password you entered don't match",
      },
    }
  },
  computed: {
    placeholders() {
      return process.env.NODE_ENV === 'production'
        ? {}
        : {
            email: 'Use "admin" to log in with the mock API',
            password: 'Use "password" to log in with the mock API',
          }
    },
  },
  methods: {
    ...authMethods,
    // Try to log the user in with the email
    // and password they provided.
    tryToLogIn() {
      this.tryingToLogIn = true
      // Reset the authError if it existed.
      this.authError = null
      return this.logIn({
        email: this.email,
        password: this.password,
      })
        .then((token) => {
          this.tryingToLogIn = false

          // Redirect to the originally requested page, or to the home page
          this.$router.push(this.$route.query.redirectFrom || { name: 'home' })
        })
        .catch((error) => {
          this.tryingToLogIn = false
          this.authError = error
        })
    },
  },
}
</script>

<template>
  <Layout :hideCategories="true">
    <v-card
      :class="$style.card"
      class="mx-auto pt-5 pb-5 m-5"
      width="500"
      align="center"
    >
      <v-card-text>
        <p class="display-1 text--primary">
          Log In and get to work
        </p>
      </v-card-text>
      <v-container :class="$style.cardcontainer">
        <v-row>
          <v-text-field
            v-model="email"
            type="email"
            label="Email"
            filled
            :rules="[rules.required]"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-text-field
            v-model="password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            counter
            filled
            @click:append="show1 = !show1"
          ></v-text-field>
        </v-row>
      </v-container>
      <v-card-actions class="pr-5 pl-5 pt-5 pb-5">
        <v-btn
          block="true"
          color="primary"
          large="true"
          :disabled="tryingToLogIn"
          @click="tryToLogIn"
        >
          Login
        </v-btn>
      </v-card-actions>
      <p v-if="authError">
        There was an error logging in to your account.
      </p>
      <p :class="$style.register" class="font-weight-medium primary--text">
        Create account now.</p
      >
    </v-card>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';

.card {
  top: 100px;
}
.register {
  cursor: pointer;
}
.cardcontainer {
  padding-right: 30px;
  padding-left: 30px;
}
</style>
