<script>
import Layout from '@layouts/main.vue'
import socket from '@src/plugins/io'
import ChatBubble from '@views/im/chat_bubble.vue'
import * as easings from 'vuetify/es5/services/goto/easing-patterns'
import { Message, MessageType } from '@src/model/chat'
import { authComputed } from '@state/helpers'

export default {
  components: { Layout, ChatBubble },
  data: () => ({
    isConnected: false,
    socketMessage: '',
    currentChatHistory: [],
    offsetTop: 0,
    easing: 'easeInOutCubic',
    easings: Object.keys(easings),
  }),
  created() {
    socket.on(
      'chat',
      function(data) {
        console.log(data)
        console.log(data.content)
        this.currentChatHistory.push(data)
      }.bind(this)
    )
  },
  sockets: {
    messageChannel(data) {
      console.log(data)
    },
  },
  computed: {
	  ...authComputed,
  },
  mounted() {
    this.scrollToElement()
  },
  methods: {
    sendChat: function() {
      if (this.socketMessage.length === '') return;
      if (this.socketMessage.length !== '') {
        // this.currentChatHistory.push(this.socketMessage)
        const msg = new Message()
        msg.senderId = this.currentUser.userId
        msg.receiverId = 'asdfasdf()@#HF'
        msg.type = MessageType.TEXT
        msg.content = this.socketMessage

        // console.log(msg)
        const user = {
          name: this.currentUser.user.firstName,
          authAs: this.currentUser.user.authAs
        }
        msg.name = user.name
        // Read authAs field from user
        // const userType = user.authAs
        socket.emit('chat', msg)
      }
      this.socketMessage = ''
      var container = this.$el.querySelector('#container')
      container.scrollTop = container.scrollHeight
    },
    onScroll(e) {
      // this.offsetTop = e.target.scrollHeight
      // call old messages
    },
    scrollToElement() {
      const el = this.$el.querySelector('#container')
      const y = el.getBoundingClientRect().bottom + window.pageYOffset + 23

      // if (el) {
      //   el.scrollIntoView()
      // }
      // let element = document.getElementById("yourID");
      el.scrollIntoView({ behavior: 'smooth', block: 'end', bottom: y })
    },
  },
  page: {
    title: 'chat_main',
    meta: [{ name: 'description', content: 'The chat_main page.' }],
  },
}
</script>
<template>
  <Layout>
    <v-container class="grey lighten-5">
      <v-row class="chat-section-container">
        <v-col cols="6" md="4">
          <v-card class="pa-2" outlined tile>
            Users List
          </v-card>
          <v-tabs vertical>
            <v-tab left>
              Girma Molla
            </v-tab>
            <v-tab left>
              Meklit
            </v-tab>
            <v-tab left>
              Belete
            </v-tab>
          </v-tabs>
        </v-col>
        <v-col class="ojuoiu" cols="12" sm="6" md="8">
          <div class="chat-container" id="container" v-chat-scroll>
            <ChatBubble
              v-for="(item, n) in currentChatHistory"
              :key="n"
              @click="onBubbleClick"
              :time="item.time"
              :senderId="item.senderId"
              :content="item.content"
              :messageType="item.type"
              :resolution="item.analysis.resolution"
              :name="item.name"
              :currentUser="currentUser"
             />
          </div>
          <!-- message input -->
            <v-container>
              <v-row>
                  <v-text-field
                    full-width
                    v-model="socketMessage"
                    :append-icon="
                      marker ? 'mdi-map-marker' : 'mdi-map-marker-off'
                    "
                    :append-outer-icon="socketMessage ? 'mdi-send' : 'mdi-microphone'"
                    :prepend-icon="icon"
                    filled
                    clear-icon="mdi-close-circle"
                    clearable
                    label="Write a message..."
                    type="text"
                    @keydown.enter="sendChat"
                  ></v-text-field>
              </v-row>
            </v-container>
        </v-col>
      </v-row>
    </v-container>
  </Layout>
</template>

<style lang="scss" scope="local">
.chat-container {
  height: 400px !important;
  overflow-y: scroll;
}
@import '@design';
</style>
